@import './reset.scss';
@import './variable.scss';
@import './mixin.scss';

html,
body {
  width: 100%;
  // height: 100%;
  // overflow: hidden;
  // 解决Iscroll拖拽卡顿问题，因为系统和iscroll都监听了拖拽事件
  touch-action: none;
}
body {
  // font-size: $font_medium;
  @include font_dpr($font_medium);
  font-family: Helvetica, sans-serif, STHeiTi;
}
img {
  vertical-align: bottom;
}
